.testimonial-item {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.testimonial-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
}

.testimonial-info {
    margin: 0;
    text-align: right;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
}

@media (max-width: 500px) {
    .testimonial-item {
        padding: 1rem;
    }

    .testimonial-text {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    
    .testimonial-info {
        font-size: 1.2rem;
    }
}