.background-image {
    background-image: url('../../../images/landscape_green_background.jpeg');
    background-position: -10vw 0;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 120vw;
    overflow: hidden;
}

@media (max-width: 1366px) {
    .background-image {
        background-position: -20vw 0;
        background-size: 140vw;
    }
}

@media (max-width: 1150px) {
    .background-image {
        background-position: -30vw 0;
        background-size: 160vw;
    }
}

@media (max-width: 1024px) {
    .background-image {
        background-position: -100vw 0;
        background-size: 300vw;
    }
}

@media (max-width: 768px) {
    .background-image {
        background-position: -160vw 0;
        background-size: 420vw;
    }
}

@media (max-width: 650px) {
    .background-image {
        background-position: -300vw 0;
        background-size: 700vw;
    }
}

@media (max-width: 450px) {
    .background-image {
        background-position: -500vw 0;
        background-size: 1100vw;
    }
}